<div class="row">
    <div class="col-md-8">
        <div class="media">
            <br />
            <% avatar_url = @user.avatar_url(128) %>
            <% if avatar_url %>
                <div class="media-left">
                    <%= image_tag avatar_url, class: "media-object" %>
                </div>
            <% end %>
            <div class="media-body">
                <h2 class="media-heading"><%=@user.name%></h2>
                <small>
                    <%= pluralize(@user.posts.count, 'post') %>,
                    <div class='js-comments-count'>
                        <%= pluralize(@user.comments.count, 'comment') %>
                    </div>
                </small>
            </div>
        </div>
    </div>
</div>
<div>
    <% if @user.has_posts? %>
        <h2>Posts by <%=@user.name%></h2>
        <%= render @user.posts %>
        <!-- need to use @posts in order to apply visible scope? -->
    <% else %>
        <h4>(<%=@user.name%> has not submitted any posts yet.)</h4>
    <% end %>
</div>
<div>
    <% if @user.has_comments? %>
        <h2>Comments</h2>
        <%= render @user.comments %>
    <% else %>
        <br />
        <h4>(<%=@user.name%> has not submitted any comments yet.)</h4>
    <% end %>
</div>
<div>
    <% if @user.has_favorites? %>
        <h2>Favorited Posts</h2>
        <% @user.favorites.each do |fav| %>
            <div class="row">
                <div class="col-md-8">
                    <%= render partial: "favorites/fav_post" , locals: {favorite: fav, user: @user} %>
                </div>
            </div>
        <% end %>
    <% end %>
</div>